@model iWasHere.Domain.DTOs.DictionaryAttractionCategoryModel
@{
    ViewData["Title"] = "AddAttractionCategory";
}
<style>
    
    input {
    width: 60%;
}
    .myHeader {
         
        color: black;
        padding: 38px;
        text-align: center;
        font-family: Georgia;
       font-size: 320%;
    }

    .validation-summary-errors ul { 
    list-style: none;
    padding-left: 0;
    }
    .myvalidation{
        color:red;
    }
</style>

<span class="help-block">
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger myvalidation" })
</span>
<h2 class="myHeader">Adauga o categorie </h2>
@using (Html.BeginForm("AddAttractionCategory", "DictionaryAttractionCategory", FormMethod.Post))
{
<div align="center">
    <br/>
    <input hidden type ="text" asp-for="AttractionCategoryId"/>
    <label>Nume categorie atractie:</label><br />
    <input id="attractionCategoryName" asp-for="AttractionCategoryName" type="text"/><br/>
</div>
    <br/><br/>
<div align="center">
    <button id="save" type="submit" class="btn btn-success" name="submitButton" value="save">Salveaza</button>
    <a asp-action="Index" class="btn btn-danger">Anuleaza</a>
    <button id="saveAndNew" onclick="" type="submit" class="btn btn-info" name="submitButton" value="saveAndNew">Salveaza si Nou</button>
    
</div>
}

<script type="text/javascript">

    window.onload = setEdit();

    function setEdit() {
        var addOrEdit = localStorage.getItem("storageName");
        console.log(addOrEdit)
        if (addOrEdit == "edit") {
            document.getElementById("saveAndNew").style.visibility = "hidden";
        }
        else {
            document.getElementById("saveAndNew").style.visibility = "visible";
        }
    }
</script>