@model iWasHere.Domain.DTOs.DictionaryTicketModel
@{
    ViewData["Title"] = "Index";
}
<h1>Sectiune de comentarii</h1>


<p>
    <br><label>Nume utilizator: </label><input id="userName" type="text" value="Anonim" />
   <br><label>Utilizator logat:    </label><input type="checkbox" id=" checkBox"></input>
   <br><label>Rating</label>
   <br><label>Titlul comentariului: </label><input id="commentTitle" type="text">
   <br><label>Descrierea comentariului: </label><input id="commentDesc" type="text">
   <br> <button type="button" id="btnAdd" onclick="" asp-controller="" asp-action="">Salveaza</button>
                                                                                                      <br><button type="button" id="btnEnd" onclick="" asp-controller="" asp-action="">Anuleaza</button>
</p>

<script type="text/javascript">
</script>



