@model iWasHere.Domain.DTOs.County_DTO
@{
    ViewData["Title"] = "Adauga/modifica Judet";
}
<style>
    .myHeader {
       
        color: black;
        padding: 40px;
        text-align: center;
        font-family: Georgia;
    }

    .f1 {
        
        color: black;
        width: 50%;
        border: 2px solid black;
        border-radius: 4px;
    }
    .filter {
       
         border: 2px light blue;
         border-radius: 3px;
        background-color: rgba(194, 124, 124, 0.31);
}
    .help-block ul {
    list-style-type: none;
    }
    .validation-summary-errors ul { 
    list-style: none;
    padding-left: 0;
    }
    .myvalidation{
        color:red;
    }
</style>


<h1 class="myHeader"> Adauga sau Modifica Judete</h1>

<div align="center"> 
         <span class="help-block">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger myvalidation" })
        </span>

        @using (Html.BeginForm("Create", "County", FormMethod.Post))

        {
            <h4>Judet:</h4>
            <input type="text" asp-for="CountyName" class="f1" placeholder="Introdu numele judetului...." style="font-style:italic" maxlength="100"/>
            <br />
            <br />
            <h4>Tara:</h4>
            @(Html.Kendo().ComboBoxFor(model => model.CountryId)
                       .DataValueField("Id")
                       .DataTextField("Name")
                       .HtmlAttributes(new { style = "width:60%", id = "county" })
                   .Filter("StartsWith")
                   .DataSource(source =>
                   {
                       source.Read(read =>
                       {
                           read.Action("Read_Country", "County").Data("countryNameF");
                       })
                       .ServerFiltering(true);
                   })
            )
            <br />
            <br />
            <div class="filter"><br/>
                 <button type="submit" id="new" class="btn k-primary" name="submitbutton" value="SaveAndNew">Salveaza si nou</button>
                <button type="submit" id="btn_save_or_saveEdit" class="btn k-primary" name="submitbutton" value="Save">Salveaza</button>

                <a id="exit" class="btn k-primary" asp-action="Index">Renunta</a><br />
        
            </div>
        }

</div>
<script type="text/javascript">
    var ok = 1;
    function countryNameF() {
        return {
            text: $("#Tari").val()
        };
    }
    window.onload = set();
    function set() {
        var verify = localStorage.getItem("storageName");
        if (verify == "edit") {
            document.getElementById("new").style.visibility = "hidden";
        }
    }
    function valid() {
    document.activeElement}

</script>