@model iWasHere.Domain.DTOs.County_DTO
@{
    ViewData["Title"] = "Adauga sau modifica Judet";
}
<style>
    .myHeader {
        background-color: lightblue;
        color: black;
        padding: 40px;
        text-align: center;
        font-family: Georgia;
        color: white;
    }

    .f1 {
        
        color: black;
        width: 50%;
        border: 2px solid black;
        border-radius: 4px;
    }
</style>
<script type="text/javascript">
    var ok = 1;
    function countryNameF() {
        return {
            text: $("#Tari").val()
        };
    }

</script>

<h1 class="myHeader"> Adauga sau Modifica Judete</h1>

<div align="center">
    @using (Html.BeginForm("Create", "County", FormMethod.Post))

    {
        <h4>Judet:</h4>
        <input id="txt_county" asp-for="CountyName" type="text" value="" class="f1" />
        <br />
        <br />
        <h4>Tara:</h4>
        @(Html.Kendo().AutoCompleteFor(model => model.CountryName)
                   .DataTextField("Name")
                   .HtmlAttributes(new { style = "width:40%" })
                   .Filter("StartsWith")
                   .DataSource(source =>
                   {
                       source.Read(read =>
                       {
                           read.Action("Read_Country", "County").Data("countryNameF");
                       })
                   .ServerFiltering(true);
                   })
        )
        <br />
        <button type="submit" id="btn_save_or_saveEdit" class="btn k-primary" name="submitbutton" value="Save">Salveaza</button>
        <button type="submit" id="btn_save_and_new" class="btn k-primary" name="submitbutton" value="SaveAndNew">Salveaza si nou</button>
        <a id="exit" class="btn k-primary" asp-action="Index">Renunta</a>
        <br />
    }

</div>