
@{
    ViewData["Title"] = "Judete";
}

<style>
    .myHeader {
        background-color: lightblue;
        color: white;
        padding: 40px;
        text-align: center;
        font-family: Georgia;
        text-shadow: 2px 2px 4px #000000
    }
    .filter {
        border-style: ridge;
         border: 2px light blue;
         border-radius: 3px;
        background-color: hsla(120, 100%, 25%, 0.3);
}
</style>
<h1 class="myHeader"> Dictionar Judete</h1>


@*<div id="filter">
        <br />
        @(Html.Kendo().AutoComplete()
               .Name("Judete")
               .DataTextField("Name")
               .HtmlAttributes(new { style = "width:50%" })
               .Filter("StartsWith")
               .DataSource(source =>
                       {
                   source.Read(read =>
                   {
                       read.Action("Read_Country", "County").Data("f_autocomplete");
                   })
                   .ServerFiltering(true);
               })
        )

    </div>*@
<script type="text/javascript">
    var getInput;

    function filtrare() {
        var txt_judet = {};
        txt_judet["txt_county"] = $("#txt_county").val();
        return txt_judet;
    }

    function deleteFilters() {
        $('#txt_county').val("");
        alert("Filtru curatat!");
        $("#grid_county").data("kendoGrid").dataSource.refresh();
    }

    function refresh() {
        $("#grid_county").data("kendoGrid").dataSource.read();
        $("#grid_county").data("kendoGrid").dataSource.page(1);
    }

    function setAdd() {
        getInput = "create"
        localStorage.setItem("storageName", getInput);
    }

    function setEdit() {
        getInput = "edit"
        localStorage.setItem("storageName", getInput);

    }
    function h_e(e) {
        alert("nu paote fi sters");}
    
    //pt btuoane
    $(document).ready(function () {
        $("#btn_add").kendoButton();

        $("#btn_filter").kendoButton({
            icon: "filter"
        });

        $("#btn_r_filter").kendoButton({
            icon: "filter-clear"

        });

    });

</script>
<br />
<div class="filter">
<form >
    <br/>
    <h3 style="font-family:courier;">Cauta Judet:</h3>
   <input style="width:50%" id="txt_county" type="text" name="adumi judet" value="" />
   <button id="btn_filter" onclick="refresh()" type="button" asp-area="" asp-controller="CountyController" asp-action="Read">Filtreaza</button>
    <button id="btn_r_filter" onclick="deleteFilters()" type="button" >Sterge filtru</button>
</form>
    <br/>
</div>





<br />
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.County_DTO>()
         .Name("grid_county")
         .Columns(columns =>
     {
        columns.Bound(c => c.CountyId).Width(100).Hidden(true);
        columns.Bound(c => c.CountyName).Title("Judet");
        columns.Bound(c => c.CountryName).Title("Tara");
        columns.Bound(c => c.CountyId).Width(100).Hidden(true);
        columns.Template("<a href='" + @Url.Action("CreateOrEdit", "County") + "?id=#=CountyId#' onclick='setEdit()'> <i>Edit</a> ").Width(150);

        columns.Bound(c => c.CountryId).Width(100).Hidden(true);
        columns.Command(command =>
        {
            command.Destroy().Text("Sterge");
        }).Width(150);
   
            })
                        .HtmlAttributes(new { style = "height: 650px;" })
                        .Scrollable()
                        .Sortable()
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("Read", "County").Data("filtrare"))
                        .Events(events => events.Error("h_e"))
                        .Model(model => model.Id(p => p.CountyId))
                        .Destroy(destroy => destroy.Action("Delete_County", "County"))
                        .PageSize(15)

                        )

)
<br />
<p align="right">
    <a href="@Url.Action("CreateOrEdit", "County", 0)" onclick='setAdd()' id="btn_add" class="k-primary">Adauga Judet</a>

</p>