
@{
    ViewData["Title"] = "Index";
}

<h1>Dictionar Judete</h1>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.County_DTO>()
            .Name("grid_county")
            .Columns(columns =>
            {

                // columns.Bound(c => c.CountyId).Width(150);
                columns.Bound(c => c.CountyName);
                //columns.Bound(c => c.CountryId).Width(150);
            })
            .HtmlAttributes(new { style = "height: 550px;" })
            .Scrollable()
            .Groupable()
            .Sortable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                
            );
)