
@{
    ViewData["Title"] = "Index";
}

<h1>Tip Bilete</h1>



@using (Html.BeginForm("Filter", "Ticket", FormMethod.Post))
{
<p>

    <label> Tip bilet:  </label>
    <input type="text" id="txtSearchedValue" />
    <!-- <input type="submit" value="Filtreaza" /> -->
    <button type="button" onclick="refresh()" asp-controller="TicketType" asp-action="TicketsRead">Filtreaza</button>
    <!-- <button onclick="tickets.getFilter()">Filtreaza</button> -->
    <button type="button" onclick="stergeFiltru()" asp-controller="TicketType" asp-action="TicketsRead"> Sterge filtre </button>
</p>
}



@(Html.Kendo().Grid<iWasHere.Domain.Model.DictionaryTicket>()
       .Name("grid")
       .Columns(columns =>
       {
           columns.Bound(c => c.DictionaryTicketId).Title("Id");

        
           columns.Bound(c => c.TicketCategory).Title("Type");
           columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
          // columns.Template(" <input type='button' class='k-button info' name='info' value='Modifica' /> ");
          //    columns.Template(" <input type='button' class='k-button info' name='info' value='Sterge' /> ");

       })

       .HtmlAttributes(new { style = "height: 550px;" })
       .Scrollable()
       .Groupable()
       .Sortable()
       .Filterable()

       .Pageable(pageable => pageable
           .Refresh(true)
           .PageSizes(true)
           .ButtonCount(5))
       .DataSource(dataSource => dataSource
           .Ajax()
           .Read(read => read.Action("TicketsRead", "TicketType").Data("getFilter"))
           .PageSize(10)
            .Destroy( destroy => destroy.Action( "Delete", "TicketType"))
       )
)
<body>
    <script type="text/javascript">

       function getFilter () {
            var tickets = {};
            tickets["ticketType"] = $("#txtSearchedValue").val();
            console.log(tickets.ticketType);

            return tickets;
        }

        

       function refresh () {
            $("#grid").data("kendoGrid").dataSource.read();
            $("#grid").data("kendoGrid").dataSource.page(1);

        }

        function stergeFiltru() {
          // $("#txtSearchedValue").Clear();
         //   refresh();
            $("#txtSearchedValue").val("");
             refresh();
        }


    </script>
</body>

<style>
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

