@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@(Html.Kendo().Grid<iWasHere.Domain.DTOs.TouristicObjectiveListModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.TouristicObjectiveId);
    })
    .Sortable()
    .Pageable(p => p.Numeric(false).PreviousNext(false))
    .HtmlAttributes(new { style = "height:550px;" })
    .Scrollable(sc => sc.Endless(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(r => r.Action("GetTuristicObjectives", "TouristicObjective"))
    )
)