@model iWasHere.Domain.DTOs.TouristicObjectiveDTO

@{
    ViewData["Title"] = "TouristicObjectiveDetail";
}
<style>

    .myHeader {
        background-color: lightblue;
        color: black;
        padding: 40px;
        text-align: center;
        font-family: Georgia;
        color: white;
    }
</style>

<h1 class="myHeader"> Detalii Obiectiv Turistic</h1>
<br />
@using (Html.BeginForm("TouristicObjectiveDetail", "TouristicObjective", FormMethod.Post, new { id = "form" }))
{<div class="divu_mare" >
    <input type="text" hidden asp-for="TouristicObjectiveId" id="touristicObjectiveId">
    <div class="nume_picture">
        <div class="numeObiectiv" align="center">
        <input type="text" asp-for="TouristicObjectiveName" id="txtObjectiveName" readonly />
        </div>
        <br />
        @*<div class="show_img">*@
        @foreach (var item in Model.PictureName)
        {
            <img style='max-height:200px'  src="/img/@item" />
        }
        @*</div>*@
        <br />
        <input type="text" asp-for="Latitude" hidden id="Latitude" />
        <input type="text" asp-for="Longitude" hidden id="Longitude" />
    </div>
      <div class="cod_obiectiv" >
       <label>Cod:</label><input type="text" asp-for="TouristicObjectiveCode"  readonly />
      </div> <br />
         <div class="pret">
                Pret: <input type="text" asp-for="Price"  readonly />RON
            </div>
            <br />
            <div class="rating">
                <input type="text" asp-for="Rating"  readonly /><i class='fa fa-star'></i>
            </div>
            <div class="categorie_actractie" >
                Categorie:<input type="text" asp-for="AttractionCategoryName" id="txtObjectiveCategory" readonly />
            </div>
            <br />
            <div class="sezon">
                Sezon:<input type="text" asp-for="Type" id="txtObjectiveOpenSeason" readonly />
            </div>
            <br />
       
            <div class="ora">
                Oras: <b><input type="text" asp-for="cityName" id="txtObjectiveCity" /></b>
            </div>
            <br />
            <div class="tara">
                Tara: <b><input type="text" asp-for="countryName" id="txtObjectiveCountry" /></b>
            </div>
        <br />
    <div>        
    <div class="bordura" align="center">
        <br/>
                Descriere:<br/><br/>
                <textarea type="text"  rows="11" cols="150" asp-for="TouristicObjectiveDescription" style="border:transparent;" readonly> </textarea>
            </div></div>
    <div ><div align ="center" id="map"></div> </div>
</div>
<style>
    .bordura {
        border-style: solid;
        border-width: 1px;
        border-color: darkcyan;
    }
    #map {
        top: 70px;
        height: 350px;
        width: 600px;
        display: flex;
        left: 200px;
    }
    
</style>

<script>
    var map;
    function initMap() {
        debugger;
        var Latitude = parseFloat($("#Latitude").val());
        var Longitude = parseFloat($("#Longitude").val());
        // The location of Uluru
        var uluru = { lat: Latitude, lng: Longitude };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbRIxmMBjKw5IovRx6CF03hU8SDpqxtos&callback=initMap"
        async defer></script>
}
 <br/>
<br/>

<input type="button" value="Adauga comentariu" onclick="location.href='@Url.Action("AddFeedback", "TouristicObjective")?id='+@Model.TouristicObjectiveId"/>
