@model iWasHere.Domain.DTOs.DictionaryCountryModel
@{
    ViewData["Title"] = "AddCountry";
}

<h1>Dictionar Tari</h1>

@using (Html.BeginForm("Create", "DictionaryCountry", FormMethod.Post))
{
    <div>
        <label>Introduceti tara: </label>
        <input id="addCountry" asp-for="Name" type="text" value="" />
        <button type="submit" class="btn btn-info" name="btn" value="Save">Salveaza</button>
        <button type="submit" class="btn btn-info" name="btn" value="SaveAndNew">Salveaza si Nou</button>
        <a asp-action="Index" class="btn btn-info">Anuleaza</a>
    </div>
}