@model iWasHere.Domain.DTOs.DictionaryCountryModel
@{
    ViewData["Title"] = "AddCountry";
}

<h1 class="myHeader">Dictionar Tari</h1>
<br/><br/>
<style>
     .myHeader {
       color: black;
        padding: 38px;
        text-align: center;
        font-family: Georgia;
       
    }
     input {
    width: 60%;
}
</style>
@using (Html.BeginForm("Create", "DictionaryCountry", FormMethod.Post))
{
    <div align ="center">
        <label>Tara: </label> <br/>
        <input maxlength="99" id="addCountry" asp-for="Name" type="text"/> <br/>
        <br/>
        <button type="submit" onclick="handleErrorUpdate()" id="save" class="btn btn-info" name="btn" value="Save">Salveaza</button>
        <button type="submit" onclick="handleErrorUpdate()" id="saveAndNew" class="btn btn-info" name="btn" value="SaveAndNew">Salveaza si Nou</button>
        <a asp-action="Index" class="btn btn-info">Anuleaza</a>
    </div>
}

<script type="text/javascript">
    window.onload = set();
    function set() {
        var verify = localStorage.getItem("storageName");
        if (verify == "edit") {
            document.getElementById("saveAndNew").style.visibility = "hidden";
        }
    }
     function isEmptyOrSpaces(str){
    return str === null || str.match(/^ *$/) !== null;
    }  

     function handleErrorUpdate(e) {
         if (isEmptyOrSpaces($('#addCountry').val()))
             alert("Trebuie sa introduceti obligatoriu o tara!")
         else {
             $('#addCountry').clearQueue();
         }
    }
 </script>