<h1>Dictionar Tari</h1>


<p>
    <input id="searchCountryName" type="text" />
    <button type="button" id="btnSearch" onclick="refreshFunction()" asp-controller="DictionaryCountry" asp-action="GetCountries">Filtreaza</button>
    <button type="button" id="btnDelete" onclick="deleteFilters()" asp-controller="DictionaryCountry" asp-action="GetCountries">Sterge Filtre</button>
    <button type="button" id="btnAdd" onclick="" asp-controller="DictionaryCountry" asp-action="Create">Adauga</button>
</p>

<br />
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountryModel>
    ()

    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Width(200);
        columns.Bound(c => c.Name).Width(200);
        //columns.Template("<button id=\"btnDelete\" onclick=\"deleteValueRow(#=CountryId#)\">Delete</button>");
        columns.Command(c =>
        {
            c.Destroy();
        });
    })

    //.Filterable(filterable => filterable.UI("nameFilter"));

    //.Filterable(filterable => filterable
    //.Extra(false)
    //.Operators(operators => operators
    //.ForString(str => str.Clear()
    //.StartsWith("Starts with")
    //.IsEqualTo("Is equal to")
    //.IsNotEqualTo("Is not equal to")
    //))
    //)
    .HtmlAttributes(new { style = "height: 380px;" })
    .Scrollable()
    .Groupable()
    .Sortable(sortable => sortable.AllowUnsort(false))
    .Pageable(pageable => pageable
    .Refresh(true)
    .ButtonCount(5))
    //.ToolBar(toolbar => toolbar.Create())
    .DataSource(dataSource => dataSource
    .Ajax()
    // .Model(m=>m.Id(c=>c.Id))
    // .Create("Create","DictionaryCountry")
    .Destroy("Delete", "DictionaryCountry")
    .Read(read => read.Action("GetCountries", "DictionaryCountry").Data("getFilter"))
    .PageSize(4)
    )
    )


    <script type="text/javascript">
        getFilter = function (e) {
            var textBoxValue = {};
            textBoxValue["searchCountryName"] = $("#searchCountryName").val();
            console.log(textBoxValue.searchCountryName);

            return textBoxValue;
        }

        function refreshFunction() {
            $("#grid").data("kendoGrid").dataSource.read();
            $("#grid").data("kendoGrid").dataSource.page(1);
        }

        function deleteFilters() {
            $('#searchCountryName').val("");
            refreshFunction();

        }

        //function deleteValueRow(int CountryId) {

        //}

//        var processURL = crudServiceBaseUrl + '?method=Delete';
//function deleteValueRow(id, row){
//    if (confirm('#getResource("person.detail.confirmdel")#')) {
//        $.ajax({
//            type: 'POST',
//            url: processURL,
//            data: {
//                PERS_KY: id
//            },
//            success: function (data){
//                var thingToDelete = row;
//                var grid = $("#grid").data("kendoGrid");
//                grid.removeRow(thingToDelete);
//            },
//            error: function (xhr, textStatus, errorThrown){
//                alert("Error while soft-deleting person"+ "\n"+ xhr + "\n"+ textStatus + "\n" + errorThrown);
//            }
//        });
//    }
//}


    </script>

   

