
<h1>Dictionar Tari</h1>
<br/>
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountryModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Width(140);
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
           // .ServerOperation(false)
            .Read(read => read.Action("GetCountries", "DictionaryCountry"))
            .PageSize(20)
        )
)
