
@{
    ViewData["Title"] = "Index";
}
<style>
    .myHeader {
         
        color: black;
        padding: 45px;
        text-align: center;
        font-family: Georgia;
        
        
    }
     .filter {
       
        border-style: double;
         border: 2px light blue;
         border-radius: 3px;
       
    }
    input {
    width: 60%;
}
</style>
<h1 class="myHeader">Sezonabilitate</h1>
<form >
<div align="center" class="filter">
  <br/> <h4 style="font-family:courier;">Cauta:</h4>
<input type="text" id="textBox" /><br/><br/>
<button onclick="refresh()" type="button" id="btnSearch" asp-controller="OpenSeason" asp-action="GetOpenSeason">Filtreaza</button>
<button type="button" id="btnDeleteFilters" onclick="deleteFilters()" asp-controller="OpenSeason" asp-action="GetOpenSeason">Sterge Filtre</button><br/>
</div><br/>
</form>
<table>
    <tr>
        @(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryOpenSeasonModel>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Visible(false);
        columns.Bound(c => c.Type);
        columns.Template("<a class = 'btn btn-success' onclick = 'setEdit()' href='" + @Url.Action("InsertOpenSeason", "OpenSeason") + "?id=#=Id#'>Modifica</a>").Width(200);
        columns.Command(command => { command.Destroy(); }).Width(200);
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Da").DisplayDeleteConfirmation("Confirmati stergerea?").CancelDelete("Nu"))
    //.ToolBar(toolbar => toolbar.Create())
    .HtmlAttributes(new { style = "height: 550px;" })
    .Scrollable()
    .Sortable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(20)
    .Destroy(destroy => destroy.Action("DeleteOpenSeason", "OpenSeason"))
    .Model(a => a.Id(m => m.Id))
    //.Update(update => update.Action("UpdateOpenSeason", "OpenSeason"))
    .Read(read => read.Action("GetOpenSeason", "OpenSeason").Data("myFilter"))
    //.Events(a => a.Error("handleError"))
    )
        )
    </tr>
</table>
<br/>
<div align="center">
    <a href=@Url.Action("InsertOpenSeason", "OpenSeason", 0) onclick="setInsert()" type="button" class="btn" id="a">Adauga </a>
</div>
<script>
    var input;
    function setEdit(){
        input = "edit";
        localStorage.setItem("storageName",input);
    }

    function setInsert() {
        input = "insert";
        localStorage.setItem("storageName",input);
    }

    function myFilter() {
        var openSeasonType = {};
        openSeasonType["textBox"] = $("#textBox").val();
        console.log(openSeasonType.textBox);
        return openSeasonType;
    }

    function refresh() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);

    }

    function deleteFilters() {
        $('#textBox').val("");
        refresh();

    }
    $(document).ready(function () {
        $("#a").kendoButton();

        $("#btnSearch").kendoButton({
            icon: "filter"
        });

        $("#btnDeleteFilters").kendoButton({
            icon: "filter-clear"

        });

    });
</script>
