
@{
    ViewData["Title"] = "Index";
}

<h1>Sezonabilitate</h1>

<input type="text" id="textBox" />
<button onclick="refresh()" type="button" id="btnSearch" asp-controller="OpenSeason" asp-action="GetOpenSeason">Filtreaza</button>
<a href=@Url.Action("InsertOpenSeason", "OpenSeason", 0) onclick="setInsert()" type="button" class="btn btn-primary">Adauga</a>

<br />

<table>
    <tr>
        @(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryOpenSeasonModel>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Visible(false);
        columns.Bound(c => c.Type);
        columns.Template("<a class = 'btn btn-success' onclick = 'setEdit()' href='" + @Url.Action("InsertOpenSeason", "OpenSeason") + "?id=#=Id#'>Modifica</a>");
        columns.Command(command => { command.Destroy(); });
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Da").DisplayDeleteConfirmation("Confirmati stergerea?").CancelDelete("Nu"))
    //.ToolBar(toolbar => toolbar.Create())
    .HtmlAttributes(new { style = "height: 550px;" })
    .Scrollable()
    .Groupable()
    .Sortable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(20)
    .Destroy(destroy => destroy.Action("DeleteOpenSeason", "OpenSeason"))
    .Model(a => a.Id(m => m.Id))
    //.Update(update => update.Action("UpdateOpenSeason", "OpenSeason"))
    .Read(read => read.Action("GetOpenSeason", "OpenSeason").Data("myFilter"))

    )
        )
    </tr>
</table>

<script>
    var input;
    function setEdit(){
        input = "edit";
        localStorage.setItem("storageName",input);
    }

    function setInsert() {
        input = "insert";
        localStorage.setItem("storageName",input);
    }

    function myFilter() {
        var openSeasonType = {};
        openSeasonType["textBox"] = $("#textBox").val();
        console.log(openSeasonType.textBox);
        return openSeasonType;
    }

    function refresh() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);

    }
</script>



<style>
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>