@model iWasHere.Domain.DTOs.DictionaryOpenSeasonModel
@{
    ViewData["Title"] = "InsertOpenSeason";
}
<style>
    .myHeader {
         
        color: black;
        padding: 45px;
        text-align: center;
        font-family: Georgia;
        color: white;
        background-image:radial-gradient(red, black);
    }
</style>
<h1 class="myHeader">_/_/_/ Adauga sezon \_\_\_</h1> <br/><br/>
@using (Html.BeginForm("Create", "OpenSeason", FormMethod.Post))
{
    <div align="center">
        <label>Tip sezon:</label><br />
        <input id="openSeasonType" asp-for="Type" type="text" /><br/>
        </div> <br/>
        <div align="center">
        <button type="submit" onclick="success()" class="btn btn-success" name="submitButton" value="Save">Salveaza</button>
        <button type="submit" onclick="success()" class="btn btn-info" name="submitButton" id="SaveAndNew" value="SaveAndNew">Salveaza si Nou</button>
        <a asp-action="Index" class="btn btn-danger">Anuleaza</a>
        </div>
        <br />
        
    
}

<script>
    window.onload = set();
    function set() {
        var verify = localStorage.getItem("storageName");
        if (verify == "edit") {
            document.getElementById("SaveAndNew").style.visibility = "hidden";
        }
    }
    function success() {
        var verify = localStorage.getItem("storageName");
        if (verify == "edit") {
            alert("Sezonul a fost modificat cu succes!");
        }
        if (verify == "insert") {
            alert("Sezonul a fost adaugat cu succes!");
        }
    }
</script>