@model iWasHere.Domain.DTOs.DictionaryOpenSeasonModel
@{
    ViewData["Title"] = "InsertOpenSeason";
}
<style>
    .myHeader {
         
        color: black;
        padding: 45px;
        text-align: center;
        font-family: Georgia;
    }
    input {
    width: 29%;
    text-align: center
}
</style>
<h1 class="myHeader">Adauga sezon</h1> <br/><br/>
@using (Html.BeginForm("Create", "OpenSeason", FormMethod.Post))
{
    <div align="center">
        <label>Tip sezon:</label><br />
        <input id="openSeasonType" asp-for="Type" type="text" maxlength="215"><br/>
        </div> <br/>
        <div align="center">
        <button type="submit" onclick="success()" class="btn btn-success" name="submitButton" value="Save">Salveaza</button>
        <button type="submit" onclick="success()" class="btn btn-info" name="submitButton" id="saveAndNew" value="SaveAndNew">Salveaza si Nou</button>
        <a asp-action="Index" class="btn btn-danger">Anuleaza</a>
        </div>
        <br />
        
    
}

<script type="text/javascript">
    window.onload = set();
    function set() {
        var verify = localStorage.getItem("storageName");
        if (verify == "edit") {
            document.getElementById("saveAndNew").style.visibility = "hidden";
        }
    }
    function deleteOS() {
        $('#openSeasonType').val("");
        //document.getElementById("openSeasonType").value = " ";
        //refresh();
    }
    function isEmptyOrSpaces(str){
        return str === null || str.match(/^ *$/) !== null;
        } 
    function success() {
        var verify = localStorage.getItem("storageName");
        if (verify == "edit") {
            if (isEmptyOrSpaces($('#openSeasonType').val())) {
                alert("Trebuie sa introduceti obligatoriu un tip de sezon!");
            }
            else
                alert("Sezonul a fost modificat cu succes!");
        }
        if (verify == "insert") {
            if (isEmptyOrSpaces($('#openSeasonType').val())) {
                alert("Trebuie sa introduceti obligatoriu un tip de sezon!");
            }
            else {
                alert("Sezonul a fost adaugat cu succes!");
                
            }
        }
    }
    var verify1 = localStorage.getItem("storageName");
    if (verify1 == "insert") {
        deleteOS();
    }
    
</script>